.header{
    margin: 20px auto;
}

.menu{
    line-height: 60px;
}

.logo{
    padding-left: 0;
}

.logo > img{
    height: 60px;
}

.overflow{
    overflow: hidden;
}

.testWrapper{
    display: none;
}

.fullWidth{
    width: 100%;
}